body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h3 {
  color: #0cded7;
}

h4 {
  text-align: center;
  color: #066562;
}

.container {
  position: relative;
  text-align: center;
  background-color: #000000;
  color: #0cded7;
  width: 100px;
  height: 100px;
}

.container-class {
  background-image: url('https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(200, 0, 0, 2.5);
  opacity: 1;
  color: #383838;
  width: 350px;
  height: 350px;
  border: none;
  background-size: 350px 350px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.options {
  width: 100px;
  height: 100px;
  background-color: rgba(200, 0, 0, 2.5);
  opacity: 0.3;
}

.cuttingboardoptions {
  /* transform: rotate(90deg); */
  width: 250px;
  height: 300px;
  opacity: 0.3;
}

.button {
  border: none;
}

.options:hover {
  opacity: 0.75;
}

.selected {
  border-color: #0cded7;
  border: 2px;
}

.row {
  display: flex;
}
.row-ingredients {
  display: flex;
  justify-content: center;
}

.column {
  flex: 50%;
}

.topcenter {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cuttingboardcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
