body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

label {
    display: block;
}

nav a {
    display: inline-block;
    margin: 1em;
}

form div {
    margin: 1em;
    display: inline-block;
}

h3 {
    color: #0cded7;
}

h4 {
    text-align: center;
    color: #066562;
}

h5 {
    padding: 10px;
    text-align: center;
    color: #066562;
}

h6 {
    text-align: center;
    color: #066562;
}

.container-img {
    position: relative;
    text-align: center;
    background-color: #000000;
    color: #0cded7;
    width: 100px;
    height: 100px;
}

.container-class {
    background-image: url('https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(200, 0, 0, 2.5);
    opacity: 0.8;
    color: #383838;
    width: 500px;
    height: 500px;
    border: 0px;
    border-radius: 15px;
    /* background-size: 250px 500px; */
}

.cutting-board-ingredients {
    border-color: transparent;
    background-color: transparent;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.option-with-label {
    margin: 7px;
    width: 100px;
    height: 100px;
    position: relative;
}

.label {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.options {
    width: 100px;
    height: 100px;
    opacity: 0.3;
    box-shadow: 2px 3px 5px #888888;
    border-radius: 7px;
    /* styles below added by katie */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.options:hover {
    opacity: 0.75;
}

.cuttingboardoptions {
    /* transform: rotate(90deg); */
    width: 250px;
    height: 300px;
    opacity: 0.3;
}

.button {
    border: none;
}

.selected {
    border-color: #0cded7;
    border: 2px;
}

.topcenter {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cuttingboardcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-wrapper {
    position: relative;
    margin-top: 0%;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 20%;
}

.btn-responsive {
    /* matches 'btn-md' */
    padding: 10px 16px;
    font-size: 20px;
    line-height: 1.3333333;
    border-radius: 10px;
    background: #0cded7;
    border: none;
    padding: 10px;
    box-shadow: 2px 3px 5px #888888;
}

.btn-responsive:hover {
    background: #1fcca3;
    border: none;
    border-radius: 10px;
}

@media (max-width: 760px) {
    /* matches 'btn-xs' */
    .btn-responsive {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
}

.jumbotron {
    background-image: url('https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1231&q=80');
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0px;
}

.row-homepage {
    width: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.text-center::before {
    margin-left: 50%;
}

.carousel-item {
    height: 350px;
    object-fit: cover;
    top: 0;
    left: 0;
}

.about {
    background-color: #000000;
    background: rgba(5, 4, 4, 0.5);
}

.center-text {
    justify-content: center;
}

.list-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 1em;
    grid-auto-flow: column;
}

.results-image {
    height: 250px;
    width: 175px;
    box-shadow: 2px 3px 5px #888888;
    border-radius: 7px;
}

.results-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2em;
    grid-auto-flow: row;
}

.results-background {
    background: black;
}

.results-img-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 100px 35px;
    justify-content: center;
}

.results-background a {
    justify-content: center;
    display: none;
}

.results-background:hover .results-image {
    opacity: 0.2;
}

.results-background:hover a {
    display: block;
    z-index: 10;
}

.results-button-outline {
    background-color: transparent;
    border-color: #0cded7;
}

.results-button-outline:hover {
    background-color: #0cded74d;
    border-color: #0cded7;
}

.prev-next-buttons {
    margin-top: 25px;
    justify-content: center;
    align-content: space-between;
}

.question {
    text-align: center;
}

.single-recipe-container {
    padding: 35px;
}

.single-recipe-row {
    padding: 15px;
}

.how-it-works-banner {
    background-image: url(/background-image-howItWorks.png);
    background-size: cover;
    width: 100%;
    height: auto;
    border-radius: 0px;
}

.how-it-works-banner-text {
    color: white;
    text-align: center;
}

.how-it-works-banner-scroll a {
    position: absolute;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: opacity 0.3s;
}

.how-it-works-banner-scroll a:hover {
    opacity: 0.5;
}

#scroll-arrow a {
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid white;
    border-radius: 100%;
    box-sizing: border-box;
}

#scroll-arrow a::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

.how-it-works-instructions-column {
    color: #808080;
    font-size: 0.9rem;
    margin-bottom: 25px;
    margin-top: 25px;
}

.how-it-works-background {
    background: rgb(248, 248, 248);
}

.how-it-works-steps {
    background: white;
    margin: 25px;
    border: 1px solid #f0f0f0;
    border-radius: 7px;
    text-align: center;
}

.how-it-works-steps img {
    height: 40px;
    width: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}