body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h3 {
  color: #0cded7;
}

h4 {
  text-align: center;
  color: #066562;
}

.container-img {
  position: relative;
  text-align: center;
  background-color: #000000;
  color: #0cded7;
  width: 100px;
  height: 100px;
}

.container-class {
  background-image: url('https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(200, 0, 0, 2.5);
  opacity: 1;
  color: #383838;
  width: 350px;
  height: 350px;
  border: none;
  background-size: 350px 350px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.options {
  width: 100px;
  height: 100px;
  background-color: rgba(200, 0, 0, 2.5);
  opacity: 0.3;
}

.cuttingboardoptions {
  /* transform: rotate(90deg); */
  width: 250px;
  height: 300px;
  opacity: 0.3;
}

.button {
  border: none;
}

.options:hover {
  opacity: 0.75;
}

.selected {
  border-color: #0cded7;
  border: 2px;
}

.row-ingredients {
  background-color: transparent;
}

.column {
  flex: 50%;
}

.topcenter {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cuttingboardcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-wrapper {
  position: relative;
  margin-top: 0%;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 20%;
}

.btn-responsive {
  /* matches 'btn-md' */
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.3333333;
  border-radius: 10px;
  background: #0cded7;
  border: none;
  padding: 10px;
  box-shadow: 2px 3px 5px #888888;
}

.btn-responsive:hover {
  background: #1fcca3;
  border: none;
  border-radius: 10px;
}

@media (max-width: 760px) {
  /* matches 'btn-xs' */
  .btn-responsive {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}

.jumbotron {
  background-image: url('https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1231&q=80');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.row-homepage {
  width: 100%;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.text-center::before {
  margin-left: 50%;
}

.carousel-item {
  height: 350px;
  object-fit: cover;
  top: 0;
  left: 0;
}

.about {
  background-color: #000000;
  background: rgba(5, 4, 4, 0.5);
}

.center-text {
  justify-content: center;
}
